<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <settings>
        <setting name="logPrefix" value="dao."/>
    </settings>
    <typeAliases>
        <package name="com.fz.entity"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--映射到接口-->
        <!--<mapper class="com.fz.mapper.StudentMapper"/>-->

        <!--映射到配置文件-->
        <!--<mapper resource="com/fz/mapper/StudentMapper.xml"/>-->

        <!--映射到包下-->
        <package name="com.fz.mapper"/>
    </mappers>
</configuration>